@import './import.scss';
@import '~@vue/ui/dist/vue-ui.css';

html,
body,
#app,
.page {
	height: 100%;
}

h2 {
	line-height: 32px;
}

ui {
	padding-left: $padding-item;
}

.actions-bar {
	padding: $padding-item;
	@include h-box;
	@include box-center;
	position: relative;
	> * {
		justify-content: space-between;
	}
	&.space-between {
		justify-content: space-between;
	}
	&.center {
		justify-content: center;
	}
	&.start {
		justify-content: flex-start;
	}
	&.end {
		justify-content: flex-end;
	}
	&.fill {
		> * {
			flex: auto 1 1;
			width: 0;
		}
	}
}

.empty-icon {
	display: block;
	margin: 24px auto;
	width: 48px;
	height: 48px;
}

.cta-text {
	margin: $padding-item;
	color: #6a8bad;
	font-size: 18px;
}
