@mixin flex-box {
	display: flex;
	& > * {
		flex: auto 0 0;
	}
}

@mixin h-box {
	@include flex-box;
	flex-direction: row;
}

@mixin v-box {
	@include flex-box;
	flex-direction: column;
}

@mixin box-center {
	align-items: center;
	justify-content: center;
}
